<a href="https://colab.research.google.com/github/ymuto0302/project_learning_2019/blob/master/%E6%9D%A1%E4%BB%B6%E5%88%86%E5%B2%90%E3%81%A8%E7%B9%B0%E3%82%8A%E8%BF%94%E3%81%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 条件分岐
条件に従って処理を分ける場合のコード

## ２択の場合：if 〜 else 〜
書式は以下のとおり：
````
if 条件:
    処理A
else:
    処理B
````

In [0]:
# ２択の場合のコード例
age = input()
age = int(age)
if age < 20:
  print("未成年である")
else:
  print("成年である")

## ３択の場合：if 〜 elif 〜 else
書式は以下のとおり：
````
if 条件1:
    処理A
elif 条件2:
    処理B
else:
    処理C
````

In [0]:
# 3択の場合のコード例：２次方程式の解
import math

a = input()
b = input()
c = input()
a, b, c = int(a), int(b), int(c)
d = b**2 - 4 * a * ｃ
if d == 0:
  print("重解")
  kai = -math.sqrt(c/a)
  print(kai)
elif d > 0:
  print("異なる２つの実数解")
  kai1 = (-b + math.sqrt(d)) / (2 *a)
  kai2 = (-b - math.sqrt(d)) / (2 *a)
  print(kai1, kai2)
else:
  print("虚数解")

## 比較演算子

<div align="left">
<table>
  <tr><td>x == y</td><td>xとyが等しい</td></tr>
  <tr><td>x != y</td><td>xとyが等しくない</td></tr>
  <tr><td>x > y <td>xはyより大きい</td></tr>
  <tr><td>x >= y</td><td>xはy以上である</td></tr>
  <tr><td>x in y</td><td>リストや文字列 y の中に要素 x が含まれる</td></tr>
</table>
</div>

  (注意) 数値に加えて，文字列やリストも比較対象となる。

## リスト中の要素のチェック

In [0]:
arashi = ["大野", "櫻井", "相葉", "二宮", "松本"]

person="二宮"
if person in arashi:
  print("{}は嵐のメンバーである".format(person))
else:
  print("{}は嵐のメンバーでない".format(person))

person="中居"
if person in arashi:
  print("{}は嵐のメンバーである".format(person))
else:
  print("{}は嵐のメンバーでない".format(person))

## 条件の組み合わせ (論理演算)

In [0]:
age = 17
if age >= 16 and age <= 18:
  print("高校生である")
else:
  print("高校生ではない")

## [課題] 入力した英文に "dog", "cat", "elefant", "tiger" のいずれかが含まれていれば "animal" と出力するコードを書け。

# 繰り返し
繰り返しを実現する方法は for文と while文があるが，ここでは for文のみを取り上げる。

```
>>> for x in [1, 2, 3, 4]:
>>>   print(x)

1
2
3
4
```

1〜100までの値をそれぞれ２倍した結果を出力したい場合は
```
>>> for x in [1, 2, 3, 4, 5, 6, ・・・・・・]:
>>>   print(x * 2)
```

やってられるかい！！

繰り返し回数が予め決まっているならば range() 関数が便利である。

<table align="left">
  <tr><td>range(10)</td><td>[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]</td></tr>
  <tr><td>range(3, 10)</td><td>[3, 4, 5, 6, 7, 8, 9]</td></tr>
  <tr><td>range(0, 10, 2)</td><td>[0, 2, 4, 6, 8]</td></tr>
  </table>

In [0]:
# 1〜100までの値をそれぞれ２倍した結果を出力せよ。
for x in range(1, 100):
  print(x * 2)

## [課題] for文とif文の組み合わせ
1〜20の数値に対して，それが 3の倍数ならば "win"，それ以外ならば "lose" と表示するプログラムを作れ。

出力イメージ：
````
1 lose
2 lose
3 win
4 lose
5 lose
6 win
7 lose
````